<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">

        <div class="col-sm-4 d-flex justify-content-left">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'books' %}">All Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'authors' %}">All Authors</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <form class="nav-item" id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button style="text-indent: 1em" type="submit" class="btn mt-2 nav-link active">
                  Logout
                </button>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>


        <div class="col-sm-4 d-flex justify-content-center">
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <li class="nav-item">
                  <button type="submit" class="btn nav-link active">
                    User: {{user.username}}
                  </button>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'my-borrowed' %}">My Borrowed</a>
              </li>
              {% endif %}
            </ul>
        </div>

        <div class="col-sm-4 d-flex justify-content-end">
          {% if user.is_authenticated and user.is_staff %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <button type="submit" class="btn nav-link active">
                  Staff
                </button>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'book-create' %}">Create Book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'author-create' %}">Create Author</a>
              </li>

              {% if author %}
                {% if perms.catalog.change_author or perms.catalog.delete_author  %}
                  {% if perms.catalog.change_author %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'author-update' author.id %}">Update Author</a></li>
                  {% endif %}
                  {% if not author.book_set.all and perms.catalog.delete_author %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'author-delete' author.id %}">Delete Author</a></li>
                  {% endif %}
                {% endif %}
              {% endif %}

              {% if book %}
                {% if perms.catalog.change_book or perms.catalog.delete_book %}
                  {% if perms.catalog.change_book %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'book-update' book.id %}">Update Book</a></li>
                  {% endif %}
                  {% if not book.bookinstance_set.all and perms.catalog.delete_book %}
                    <li class="nav-item"><a class="nav-link active" href="{% url 'book-delete' book.id %}">Delete Book</a></li>
                  {% endif %}
                {% endif %}
              {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
  </nav>
  