body>div {
  margin-top: 20px;
}

body {
  background-color: blue;
}

body>.container {
  background-color: lightblue;
  min-height: 200px;
  max-height: 950px;
  height: 950px;
}

#logout-form {
  display: inline;
}

#logout-form button {
  padding: 0;
  margin: 0;
}

#main>li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#bookList>li {
  font-size: 15pt;
  list-style-type: upper-roman;
}

#authorList>li {
  font-size: 15pt;
  list-style-type: square;
}

#authorForm>tr,
td,
th {
  height: 50px;
}

#authorForm>h2 {
  margin: 100px;
  color: red;
}

#bookForm>tr,
td,
th {
  height: 50px;
}

#bookForm>input {
  margin-top: 25px;
}