body>div {
  margin-top: 20px;
}

body {
  background-color: blue;
}

body>.container {
  background-color: lightblue;
  height: 200%;
}

#logout-form {
  display: inline;
}

#logout-form button {
  padding: 0;
  margin: 0;
}

#main>li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#bookList>li {
  font-size: 15pt;
  list-style-type: upper-roman;
}

#authorList>li {
  font-size: 15pt;
  list-style-type: square;
}